workflows/Sync tasks in a Todoist project with stories in Jira for blog project.json
{
  "id": 4,
  "name": "Sync tasks in a Todoist project with stories in Jira for blog project",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "cbe61805-2f0b-494e-8fa5-d8f18f8efab0",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        -780,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "projectId",
              "value": "2295569313"
            },
            {
              "name": "projectName",
              "value": "The missing demos"
            },
            {
              "name": "issueTypeId",
              "value": "10013"
            }
          ]
        },
        "options": {}
      },
      "id": "641337ec-779f-49a6-960f-1092464a49cf",
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -440,
        300
      ]
    },
    {
      "parameters": {
        "value1": "={{$node[\"Todoist Event\"].json[\"body\"][\"event_name\"]}}",
        "rules": {
          "rules": [
            {
              "operation": "=equal",
              "value2": "={{\"item:added\"}}"
            },
            {
              "operation": "equal",
              "value2": "={{\"item:updated\"}}",
              "output": 1
            },
            {
              "operation": "equal",
              "value2": "={{\"item:deleted\"}}",
              "output": 2
            }
          ]
        }
      },
      "id": "00c4ee38-6910-4d3c-99cc-f0a6ea8be1ed",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        440,
        280
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "10eb44de-7d29-40bb-b276-d6bfedf2f6b3",
        "options": {}
      },
      "id": "d095ecb5-e74c-4ba3-a398-0792b33f83e6",
      "name": "Todoist Event",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        300
      ],
      "webhookId": "0bd443e4-c3db-462e-97ed-5ee0d9ca9dad"
    },
    {
      "parameters": {
        "project": "10001",
        "issueType": "10013",
        "summary": "={{$node[\"Todoist Event\"].json[\"body\"][\"event_data\"][\"content\"]}}",
        "additionalFields": {
          "description": "={{$node[\"Todoist Event\"].json[\"body\"][\"event_data\"][\"description\"]}}",
          "customFieldsUi": {
            "customFieldsValues": [
              {
                "fieldId": "customfield_10035",
                "fieldValue": "={{$node[\"Todoist Event\"].json[\"body\"][\"event_data\"][\"section_id\"]}}"
              },
              {
                "fieldId": "customfield_10040",
                "fieldValue": "={{$node[\"Todoist Event\"].json[\"body\"][\"event_data\"][\"id\"]}}"
              }
            ]
          }
        }
      },
      "id": "087eed81-1644-45f5-91bb-d1d2c609347e",
      "name": "Jira",
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        660,
        -60
      ],
      "alwaysOutputData": true,
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "8",
          "name": "Jira SW Cloud account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "options": {}
      },
      "id": "b551ad69-dced-46bf-a574-ef2891affdae",
      "name": "Jira1",
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        80,
        500
      ],
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "8",
          "name": "Jira SW Cloud account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "//Get the updated todoist section ID\nconst section_id = $item(0).$node[\"Globals\"].json[\"body\"][\"event_data\"][\"id\"]\nconst issue_type_id = $item(0).$node[\"Globals\"].json[\"issueTypeId\"]\n\n//Filter only article serries from the JIRA issues response.\nitems.filter(item => item.json.fields.issuetype.id === issue_type_id);\n\n//Get the article serries that was updated from todoist.\nlet item = items.filter(item => item.json.fields.customfield_10040 === section_id);\n\n// You can write logs to the browser console\nconsole.log('Done getting the updated article task!');\n\nreturn item[0].json;"
      },
      "id": "07dd60b6-1a35-4fb8-b02d-9aafabb81940",
      "name": "Get Jira issue by Todoist ID",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        280,
        500
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "issueKey": "={{$node[\"Get Jira issue by Todoist ID\"].json[\"key\"]}}",
        "updateFields": {
          "description": "={{$node[\"Todoist Event\"].json[\"body\"][\"event_data\"][\"description\"]}}",
          "summary": "={{$node[\"Todoist Event\"].json[\"body\"][\"event_data\"][\"content\"]}}"
        }
      },
      "id": "40aa2e23-12c5-4800-bad5-ae081bf99fe8",
      "name": "Jira2",
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        660,
        120
      ],
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "8",
          "name": "Jira SW Cloud account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "issueKey": "={{$node[\"Get Jira issue by Todoist ID\"].json[\"key\"]}}",
        "deleteSubtasks": true
      },
      "id": "1f28a9c9-610f-4fbe-8a6d-ad4fbbe34950",
      "name": "Jira3",
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        660,
        280
      ],
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "8",
          "name": "Jira SW Cloud account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$node[\"Todoist Event\"].json[\"body\"][\"event_data\"][\"project_id\"]}}",
              "value2": "={{$node[\"Globals\"].json[\"projectId\"]}}"
            },
            {
              "value1": "={{$node[\"Todoist Event\"].json[\"body\"][\"event_data\"][\"parent_id\"]}}",
              "value2": "={{null}}"
            }
          ]
        }
      },
      "id": "4a5eaf9f-7427-4fd1-8fd0-dc93e51bf9db",
      "name": "Filter only new article events",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -280,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$node[\"Globals\"].json[\"body\"][\"event_name\"]}}",
              "value2": "={{\"item:added\"}}"
            }
          ]
        }
      },
      "id": "361562b5-cbfa-4c05-a9e8-38fc650c0c24",
      "name": "Check if is a new article task has been added",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -100,
        300
      ]
    }
  ],
  "connections": {
    "Globals": {
      "main": [
        [
          {
            "node": "Filter only new article events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Todoist Event": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Jira",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Jira2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Jira3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jira1": {
      "main": [
        [
          {
            "node": "Get Jira issue by Todoist ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Jira issue by Todoist ID": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter only new article events": {
      "main": [
        [
          {
            "node": "Check if is a new article task has been added",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if is a new article task has been added": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Jira1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-09-18T14:23:00.902Z",
  "updatedAt": "2022-09-18T15:05:05.931Z",
  "settings": {},
  "staticData": null,
  "pinData": {},
  "tags": [
    {
      "id": "1",
      "name": "todoist",
      "createdAt": "2022-09-18T14:22:35.510Z",
      "updatedAt": "2022-09-18T14:22:35.510Z"
    },
    {
      "id": "2",
      "name": "jira",
      "createdAt": "2022-09-18T14:22:42.327Z",
      "updatedAt": "2022-09-18T14:22:42.327Z"
    },
    {
      "id": "3",
      "name": "blog",
      "createdAt": "2022-09-18T14:22:52.109Z",
      "updatedAt": "2022-09-18T14:22:52.109Z"
    }
  ]
}