workflows/Sync sections in a Todoist project with epics in Jira for blog project.json
{
  "id": 1,
  "name": "Sync sections in a Todoist project with epics in Jira for blog project",
  "active": true,
  "nodes": [
    {
      "parameters": {},
      "id": "c36ed717-9255-45e7-8f17-1e32e956dc48",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        -760,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "projectId",
              "value": "2295569313"
            },
            {
              "name": "projectName",
              "value": "The missing demos"
            },
            {
              "name": "issueTypeId",
              "value": "1006"
            }
          ]
        },
        "options": {}
      },
      "id": "29534994-5366-4833-96f3-192a054d57e3",
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -440,
        300
      ]
    },
    {
      "parameters": {
        "value1": "={{$node[\"Todoist Event\"].json[\"body\"][\"event_name\"]}}",
        "rules": {
          "rules": [
            {
              "operation": "=equal",
              "value2": "={{\"section:added\"}}"
            },
            {
              "operation": "equal",
              "value2": "={{\"section:updated\"}}",
              "output": 1
            },
            {
              "operation": "equal",
              "value2": "={{\"section:deleted\"}}",
              "output": 2
            }
          ]
        }
      },
      "id": "8bc712b4-d012-462a-b9b2-d05787641603",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        440,
        280
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "10eb44de-7d29-40bb-b276-d6bfedf2f6b3",
        "options": {}
      },
      "id": "c348b4ef-ebaa-43e0-9286-338869e4412c",
      "name": "Todoist Event",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        300
      ],
      "webhookId": "3b2ac7d9-864c-4fbf-a092-1afe0498efe5"
    },
    {
      "parameters": {
        "project": "10001",
        "issueType": "10006",
        "summary": "={{$node[\"Todoist Event\"].json[\"body\"][\"event_data\"][\"name\"]}}",
        "additionalFields": {
          "customFieldsUi": {
            "customFieldsValues": [
              {
                "fieldId": "customfield_10039",
                "fieldValue": "={{$node[\"Todoist Event\"].json[\"body\"][\"event_data\"][\"id\"]}}"
              }
            ]
          }
        }
      },
      "id": "14ea6528-7591-4547-9be2-9a907a6cc21b",
      "name": "Jira",
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        660,
        -60
      ],
      "alwaysOutputData": true,
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "5",
          "name": "Jira SW Cloud account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$node[\"Todoist Event\"].json[\"body\"][\"event_data\"][\"project_id\"]}}",
              "value2": "={{$node[\"Globals\"].json[\"projectId\"]}}"
            }
          ]
        }
      },
      "id": "29558799-493a-471d-9403-9f7eace2e88c",
      "name": "Filter only technical writing events",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -280,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$node[\"Globals\"].json[\"body\"][\"event_name\"]}}",
              "value2": "={{\"section:added\"}}"
            }
          ]
        }
      },
      "id": "5403f5ae-fc19-4b5f-b93d-783da4f667d0",
      "name": "Check if is section add event",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -100,
        300
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "options": {}
      },
      "id": "5cac117a-6fa8-46a8-ad03-cbf26d805bf9",
      "name": "Jira1",
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        80,
        500
      ],
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "6",
          "name": "Jira SW Cloud account 3"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "//Get the updated todoist section ID\nconst section_id = $item(0).$node[\"Globals\"].json[\"body\"][\"event_data\"][\"id\"]\nconst issue_type_id = $item(0).$node[\"Globals\"].json[\"issueTypeId\"]\n\n//Filter only article serries from the JIRA issues response.\nitems.filter(item => item.json.fields.issuetype.id === issue_type_id);\n\n//Get the article serries that was updated from todoist.\nlet item = items.filter(item => item.json.fields.customfield_10039 === section_id);\n\n// You can write logs to the browser console\nconsole.log('Done getting the updated article series!');\n\nreturn item[0].json;"
      },
      "id": "b81ae0c2-e5fd-4063-a9b5-c36913317a18",
      "name": "Get Jira issue by Todoist ID",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        280,
        500
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "issueKey": "={{$node[\"Get Jira issue by Todoist ID\"].json[\"key\"]}}",
        "updateFields": {
          "summary": "={{$node[\"Todoist Event\"].json[\"body\"][\"event_data\"][\"name\"]}}"
        }
      },
      "id": "9b04bf20-ce06-4c02-9c96-cfe88271d3f5",
      "name": "Jira2",
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        660,
        120
      ],
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "6",
          "name": "Jira SW Cloud account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "issueKey": "={{$node[\"Get Jira issue by Todoist ID\"].json[\"key\"]}}",
        "deleteSubtasks": true
      },
      "id": "3aa0f21c-f563-4903-b6c5-a0438d581009",
      "name": "Jira3",
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        660,
        280
      ],
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "6",
          "name": "Jira SW Cloud account 3"
        }
      }
    }
  ],
  "connections": {
    "Globals": {
      "main": [
        [
          {
            "node": "Filter only technical writing events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Todoist Event": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Jira",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Jira2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Jira3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter only technical writing events": {
      "main": [
        [
          {
            "node": "Check if is section add event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if is section add event": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Jira1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jira1": {
      "main": [
        [
          {
            "node": "Get Jira issue by Todoist ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Jira issue by Todoist ID": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-09-15T15:32:06.067Z",
  "updatedAt": "2022-09-18T13:19:43.165Z",
  "settings": {},
  "staticData": null,
  "pinData": {},
  "tags": []
}